body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.half-width-left-align {
    width: 50%;
    float: left;
}
